
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice]%>
    <button><i class="fas fa-times"></i></button>
    
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert]%>
  </div>
<% end %>