<h1>Cart Detail <%= link_to '清空購物車', cart_path, method: 'delete', class: 'btn btn-sm btn-warning' unless current_cart.empty? %></h1>

<%= render 'cart'%>

<%= link_to '繼續選購', root_path, class: 'btn btn-info' %>
<%= link_to '結帳', checkout_cart_path , class: 'btn btn-success' unless current_cart.empty? %>